<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.RoleInterface">
    <!-- 根据用户编号查找用户角色 -->
    <select id="getAllRolesByUserid" resultType="com.entity.Role">
        select r.* from sys_role r, sys_user_role ur where (ur.`user_id`=#{UserId} and r.`id`=ur.`role_id`)
        <!--select r.* from sys_role r left join sys_user_role ur on r.`id`=ur.`role_id` where ur.`user_id`=#{id} 这样写也可以，但效率不高-->
    </select>
</mapper>