<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.UserInterface">
    <!--根据用户id查找用户-->
    <select id="getAllUsers" resultType="com.entity.User">
        select * from sys_user
    </select>
    <!-- 新增注册用户 -->
    <select id="saveUser">
        insert into sys_user (id,name,email,password,enabled)
        values (#{id},#{name},#{email},#{password},"1")
    </select>
    <!--根据用户id查找用户-->
    <select id="getUserById" resultType="com.entity.User">
        select * from sys_user u where u.`id`=#{id}
    </select>
    <!--根据用户id查找用户角色-->
    <select id="getRolesByUserId" resultType="com.entity.Role">
        select r.* from sys_role r,sys_user_role ur where (ur.`user_id`=#{id} and r.`id`=ur.`role_id`)
    </select>
    <!-- 更新指定用户密码 -->
    <select id="updatePassword" >
        update sys_user set password=#{NewPassword} where id=#{userId}
    </select>
    <!-- 删除“用户-角色”表中用户id为uid的所有记录-->
    <select id="deleteUserInRole">
        delete * from  sys_user_role where user_id=#{uid}
    </select>
    <!-- 删除指定id的用户-->
    <select id="deleteUserById">
        delete * from  sys_user where id=#{id}
    </select>
</mapper>